language: node_js
node_js:
  - stable
install:
  - npm install
jobs:
  include:
    - stage: test
      script: "echo 'Running test 1...'"
      script: "echo 'Running test 2...'"
    - stage: deploy
      script: "echo 'Deploying...'"