language: node_js
node_js:
  - stable
install:
  - npm install
stages:
  - test
  - deploy  
jobs:
  include:
    - stage: test
      name: "Jest tests"
      script: "echo 'Running test 1...'"
      script: exit 1
      script: "echo 'Running test 2...'"
    - stage: test
      name: "Build docs"
      script: npm run jsdoc
    - stage: deploy
      name: "Deploy to github pages"
      script: "echo 'Deploying...'"
      deploy:
        provider: pages
        skip_cleanup: true
        github_token: $tkn-for-gh-pages
        local_dir: ./docs
        committer_from_gh: true
        keep_history: true
        on:
          branch: master
      script: "echo 'Finished deploying...'"