language: node_js
node_js:
  - stable
stages:
  - test
  - deploy  
jobs:
  include:
    - stage: test
      name: "Jest tests"
      script: "echo 'Running test 1...'"
      script: exit 1
      script: "echo 'Running test 2...'"
    - stage: deploy
      deploy:
        - provider: script
          script: "echo 'Generating docs'"
          script: npm run jsdoc
          on:
            branch: master
        - provider: pages
          skip_cleanup: true
          github_token: $GITHUB_TOKEN
          local_dir: ./docs
          committer_from_gh: true
          keep_history: true
          on:
            branch: master